.preview {
  height: 100%;
  background-color: aqua;
}

.opener {
  width: 20px;
  height: 100%;
  background-color: #f5f5f5;
  color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
